body
{
	font-family: "Times New Roman", Times, serif;
	color:#FF00FF;
	font-style: italic;
	font-size: 30px;
}

#box
{
	width: 200px;
	height: 50px;
	font-size: 30px;
}

form
{
	margin: 0 auto;
    text-align: center;
}